body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}
.container {
  width: 80%;
  margin: auto;
}
.clr {
  clear: both;
}
#main-header{
    background-color: #f4f4f4;
    overflow: hidden;
}
#logo{
    float: left;
    width: 15%;
    box-sizing: border-box;
    
}
#nav{
    float: right;
    width: 85%;
    text-align: right;
    box-sizing: border-box;
}
#navbar ul {
    
    padding: 0px;
    list-style-type: none;
    
}
#navbar ul li{
    display: inline-block;
    margin-right: 5px;
    padding: 5px;
}

#navbar ul li a{
    text-decoration: none;
    color: grey;
}
#shop{
    color: green;
    border: 2px green solid;
    padding: 10px;
}
#shop:hover{
    background-color: green;
    color: white;
    border: 2px white solid;
}
#bloc{
    background-color: green;
    color: white;
    border: 1px grey solid;
    min-height: 300px;
    margin-bottom: 30px;
}
#showcase{
    float: left;
    width: 65%;
    box-sizing: border-box;
    
   
}
#sidebar{
    float: right;
    width:35% ;
    padding: 5px;
    min-height: 300px;
    box-sizing: border-box;
}
#main-footer{
    background-color: rgb(31, 32, 31);
    color: white;
    margin: 0px -8px -19px -8px;
  
}
#lfooter{
    float: left;
    width: 15%;
    margin: 20px 20px 0px 5px;
    box-sizing: border-box;
}
#rfooter{
    float: right;
    width: 85%;
    margin: 5px;
    box-sizing: border-box;
}
#main-t{
    
   width: 60%;
   margin-top: -145px;
    box-sizing: border-box;

}

#main-t th{
    color: green;
    text-align: left;
}
#conts, #chat{
    list-style-type: none;
}
#conts li{
    display: inline-block;
    margin-right: 30px;
}
#chat{
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: inline-block;
    background-color: green;
}
