body{
    background-color: white;
    color: rgb(78, 76, 76);
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    line-height: 1.6em;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    width: 80%;
    margin: auto;
}
ul{
    list-style-type: none;
}
.clr{
    clear: both;
}
li{
    display: inline-block;
}
#main-header ul{
    list-style-type: none;
    float: right;
    text-align: center;
}
#main-header ul li{

padding-right: 20px;
}
#main img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#main form{
    text-align: center;
}
input[type=search]{
    
    width: 500px;
    padding: 15px;
    border: 1px rgb(230, 223, 223) solid;
    border-radius: 30px;
    outline: none;

}
#main ul{
    float: left;
    width: 100%;
    text-align: center
    
;
}
#main ul li{
    display: inline;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}
#cent{
    width: 100%;
    text-align: center;
    margin-left: 50px;

}
#main-footer{
    background-color:whitesmoke;
    color: grey;
    width: inherit;
    margin-top: 180px;
    
    min-height: 400px;
}
hr{
    margin-left: -100%;
    margin-right: -100%;
}
#lef{
    width: 100%;
    text-align: left;
}
.box1{
    float: left;
    margin-bottom: -100px;
    width: 60%;
}
.box2{
    float: right;
    width: 40%;
    text-align: right;
    margin-bottom: -100px;
}
.box1 li{
    padding-right: 20px;
    text-align: left;
    box-sizing: border-box;
}
.box2 li{
    padding-right: 20px;
    text-align: left;
    box-sizing: border-box;
}
/*
#llist{
    float: left;
    width: 60%;
    margin: 0px;
    text-align: left;
}

#rlist{
    float: right;
    width: 40%;
    margin: 0px;
    text-align: right;
}
}
#llist ul li{
    padding: 10px;
    margin-right: 10px;
}
#rlist ul li{
    padding: 10px;
}
